.header{
    background-color: rgb(48, 47, 47);
    margin-top: 1%;
}
.carousel-inner img{
    width: 70%;
    height: 50%;
    margin-top: 20%;
}
.carousel-inner h2{
    color: whitesmoke;
    margin-top: 30%;
}
.carousel-inner p{
    color: whitesmoke;
}
.navbar img{
    width: 100px;
    height: 50px;
}
.container-fluid{
    background-color: white;
}